/*-- RESET --*/

body, html {
    padding: 0;
    margin: 0;
    font-size: 10px;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}


/*-- HEADER STYLES --*/

.header {
    background: linear-gradient(to right, rgba(182, 187, 59, .6), rgba(20, 128, 5, .6)),
                url("../img/header-photo.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    padding: .1rem;
    color: white;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: .1rem;
    width: 100%;
    position: fixed;
    top: 0;
    padding: .5rem 0;
    transition: all .3s ease-in;
    z-index: 100;
}

.mobile__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.mobile__nav p {
    margin-left: 1rem;
}

.mobile__nav img {
    width: 2rem;
}

.active {
    background-color: white;
    color: black;
    box-shadow: 0px 4px 21px 0px rgba(156,147,156,1);
}

.active ul li a {
    color: black;
}

.header h3 {
    font-size: 2.5rem;
    margin-left: 17rem;
}

.header__nav--list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 17rem;
}

.header__nav--items {
    margin: 0 1.5rem;
    font-size: 1.9rem;
}

.header__nav--items a {
    text-decoration: none;
    color: white;
}

.header__heading {
    margin-top: 27rem;
    margin-left: 17rem;
}

.header h1 {
    font-size: 5rem;
    width: 50rem;
    margin-bottom: 2rem;
}

.header p {
    font-size: 2.1rem;
    line-height: 3.3rem;
    margin-top: 0;
    width: 48rem;
    color: #eee;
}

.header button {
    background: inherit;
    border: 2px solid white;
    padding: 1.7rem 3rem;
    margin-top: 2rem;
    font-size: 1.7rem;
    color: white; 
    transition: all .5s;
}

.header button:hover {
    background: white;
    color: black;
    cursor: pointer;
}


/*-- .MAIN STYLES --*/



/*-- .MAIN__TOP STYLES --*/

.main__top {
    margin: 0;
}

.main__top--para {
    width: 75%;
    margin: 0 auto;
    font-size: 4.3rem;
    line-height: 5.5rem;
    font-weight: 200;
    padding-top: 9rem;
}

.main__top--info {
    height: 57rem;
    margin-top: 20rem;
    display: flex;
}

.main__top--img {
    flex: 2; 
}

.main__top--heading {
    flex: 3;
    margin-left: 10rem;
    margin-top: 10rem;
}

.main__top--heading h3 {
    font-size: 3.2rem;
    width: 60rem;
    font-weight: 700;
}

.main__top--heading p {
    width: 87%;
    font-size: 1.8rem;
    line-height: 3rem;
}

.main__top img {
    width: 100%;
    height: 100%;
}


/*-- .MAIN__BOTTOM STYLES --*/

.main__bottom {
    background-color: #F6F6F6;
    padding: .1rem;
    display: flex;
}

.main__bottom--left {
    flex: 1;
}

.main__bottom--left h3 {
    color: #4FD78D;
    font-size: 2.2rem;
    margin-left: 10rem;
}

.main__bottom--left h3:first-of-type {
    margin-top: 27rem;
}

.main__bottom--left p {
    width: 70%;
    font-size: 1.8rem;
    line-height: 3rem;
    margin-left: 10rem;
}

.main__bottom--right {
    flex: 1;
}

.main__bottom--right--img {
    width: 100%;
}

.main__bottom img {
    width: 100%;
    top: -9rem;
    position: relative;
    margin-bottom: -9.3rem;
}

.main__bottom--right--info {
    background-color: #4FD78D;
    padding: 1px;
    margin: 0;
    width: 85%;
    float: right;
    padding: 7rem 0 9rem 7rem;
}

.main__bottom--right--info p {
    width: 80%;
    font-size: 2.3rem;
    line-height: 3.7rem;
    margin-bottom: 6rem;
}

.main__bottom--right--info span {
    font-size: 1.7rem;
}


/*-- TESTIMONIALS STYLES --*/

.testimonials {
    background: #F9F9F9;
    padding: .1rem;
}

.testimonials h1 {
    text-align: center;
    font-size: 3.2rem;
    margin: 12rem 0 10rem;
}


/*-- CARDS STYLES --*/

.cards__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.cards__wrapper {
    perspective: 700;
}

.card {
    width: 35rem;
    height: 42rem;
    margin: 0 1.5rem;
    border-radius: .3rem;
    transition: all .6s ease;
    transform-style: preserve-3d;
    position: relative;
    box-shadow: 2px 2px 54px 1px rgba(188,188,194,1);
}

.static {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0 1.5rem;
    border-radius: .3rem;
    padding: 1px;
    margin: auto;
}

.static img {
    margin-left: 2rem;
}

.card:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}

.front, .back {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.no-flip:hover {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
    background: white;
}

.back__footer {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back__footer span {
    display: block;
    font-size: 1.3rem;
}

.back__footer p {
    font-size: 1.7rem;
}

.back__footer img {
    margin-right: 1.5rem;
}

.quote {
    text-align: center;
    font-size: 1.8rem;
    line-height: 3.5rem;
    width: 90%;
    margin: 3rem auto 0;
}

.front {
    background: #4FD78D;
    color: white;
} 

.front h3 {
    font-size: 2rem;
    position: absolute;
    bottom: 2.5rem;
    left: 3rem;
}

.front p {
    font-size: 1.3rem;
    position: absolute;
    bottom: 1rem;
    left: 3rem;
}

.card img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%
}


/*-- .ABOUT STYLES --*/

.about {
    background: #F9F9F9;
    padding: .1rem;
}

.about h1 {
    font-size: 3.2rem;
    text-align: center;
    margin: 15rem auto 7rem;
}

.about__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 140rem;
    margin: 0 auto 15rem;
    max-width: 90%;
    padding-left: 0;
}

.about__list--item {
    width: 30rem;
    margin: 0 4rem;
}

.about__list--item h3 {
    font-size: 2.2rem;
    margin-bottom: 0;
}

.about__list--item p {
    font-size: 1.7rem;
    margin-top: 1rem;
    line-height: 3rem;
}


/*-- BLOG STYLES --*/

.blog {
    background-color: #F1F1F1;
    padding: .1rem;
}

.blog h1 {
    text-align: center;
    font-size: 3.2rem;
    margin: 11rem auto 9rem;
}

.blog__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12rem;
}

.blog__item {         
    width: 35rem;
    height: 48rem;
    margin: 0 1.7rem;
    transition: all .3s;
    position: relative;
}

.first {
    background: linear-gradient(rgba(5, 5, 5, .5), rgba(5, 5, 5, .5)),
                url("../img/drinkingCoffee.png");
    background-size: cover; 
}

.second {
    background: linear-gradient(rgba(5, 5, 5, .5), rgba(5, 5, 5, .5)),
                url("../img/mountains.jpg");
    background-size: cover; 
}

.third {
    background: linear-gradient(rgba(5, 5, 5, .5), rgba(5, 5, 5, .5)),
                url("../img/paris.png");
    background-size: cover; 
}

.blog__item:hover h3, .blog__item:hover h4, .blog__item:hover p {
    color: black;
}

.blog__item:hover {
    cursor: pointer;
}

.blog__item--heading {
    bottom: 0;
    color: white;
    position: absolute;
    z-index: 11;
}

.blog__item--heading h4 {
    margin-left: 2rem;
    font-size: 1.3rem;
    color: lightgray;
    margin-bottom: 0;
}

.blog__item--heading h3 {
    margin: .8rem 0 0 2rem;
    font-size: 2.2rem;
}

.blog__item--heading p {
    margin: 1.2rem 0 3rem 2rem;
    color: lightgray;
    font-size: 1.3rem;
}

.firstSlide {
    background-color: white;
    height: 16rem;
    width: 100%;
    bottom: 0;
    display: none;
    position: absolute;
}

.secondSlide {
    background-color: white;
    height: 16rem;
    width: 100%;
    bottom: 0;
    display: none;
    position: absolute;
}

.thirdSlide {
    background-color: white;
    height: 16rem;
    width: 100%;
    bottom: 0;
    display: none;
    position: absolute;
}


/*-- FOOTER STYLES --*/

.footer {
    text-align: center;
}

.footer span {
    font-size: 1.3rem;
    display: inline-block;
    margin: 5rem auto;
    color: gray;
}

.footer__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.restaurant__list {
    list-style: none;
    padding: 0;
}

.communities__list {
    list-style: none;
    padding: 0;
    margin: 0 13rem;
}

.usefulLinks__list {
    list-style: none;
    padding: 0;
}

.restaurant__list--item, .communities__list--item, .usefulLinks__list--item {
    font-size: 1.7rem;
    color: gray;
    margin: 1.8rem 0;
}

.restaurant__list--item:hover, .communities__list--item:hover, .usefulLinks__list--item:hover {
    cursor: pointer;
    color: #4FD78D;
}

.restaurant__list--item:first-child, .communities__list--item:first-child, .usefulLinks__list--item:first-child {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin-bottom: 2rem;
}


/*-- MEDIA QUERIES --*/
/*-- .HEADER --*/

@media(max-width: 1125px) {
    .header h3 {
        margin-left: 8rem;
    }

    .header__nav--list {
        margin-right: 8rem;
    }

    .header__heading {
        margin-left: 8rem;
    }
}

@media(max-width: 950px) {
    .header__nav {
        background-color: white;
        color: black;
        flex-direction: column;
    }

    .header__nav--list {
        flex-direction: column;
        display: none;
        margin-left: 8rem;
        padding: 0;
        margin-top: 0;
    }

    .header__nav--items {
        margin: 2.5rem 0;
    }

    .header__nav--items:nth-of-type(1) {
        margin-top: 1rem;
    }

    .mobile__nav {
        display: flex;
        width: 10rem;
        margin-right: 8rem;
    }

    .mobile__nav:hover {
        cursor: pointer;
    }

    .mobile__nav p {
        margin-top: 2rem;
        color: black;
    }

    .navagation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .header__nav a {
        color: black;
    }
}

@media(max-width: 750px) {
    .header__heading {
        margin: 27rem auto 0;
        width: 55rem; 
        max-width: 93%;
    }

    .header__heading h1 {
        font-size: 3.5rem;
        max-width: 90%;
    }

    .header__heading p {
        max-width: 95%;        
    }

    .header__heading button {
        width: 100%;
    }    

    .mobile__nav {
        margin-right: 2rem;
    }

    .header__nav h3 {
        margin-left: 2rem;
    } 

    .header__nav--list {
        margin-left: 2rem;
    }
}


/*-- .MAIN --*/

@media(max-width: 1100px) {
    .main__top--img {
        flex: 1;
    }

    .main__top img {
        width: 100%;
    }

    .main__top--heading {
        flex: 1;
        margin-left: 5rem;
        margin-top: 3rem;
    }

    .main__top--heading h3 {
        width: auto;
        font-size: 3rem;
    }

    .main__bottom--left h3 {
        margin-left: 5rem;
        width: 45rem;
    }

    .main__bottom--left h3:nth-child(1) {
        margin-top: 15rem;
    }

    .main__bottom--left p {
        margin-left: 5rem;
    }

    .main__bottom--right--info {
        width: 66%;
    }

    .main__bottom--right--img {
        width: 90%;
        float: right;
    }
}

@media(max-width: 930px) {
    .main__top--para {
        width: 90%;
    }
}

@media(max-width: 900px) {
    .main__top--info {
        flex-direction: column;
        height: auto;
        padding-bottom: 5rem;
    }

    .main__top--info img {
        height: 50rem;
        width: 100%;
    }

    .main__top--heading {
        margin-left: 2rem;
    }

    .main__bottom {
        flex-direction: column;
        height: auto;
    }

    .main__bottom--left {
        margin-bottom: 5rem;
    }

    .main__bottom--left h3:nth-child(1) {
        margin-top: 5rem;
    }

    .main__bottom--left h3 {
        margin-left: 2rem;
    }

    .main__bottom--left p {
        margin-left: 2rem;
        width: 95%;
    }

    .main__bottom--right {
        flex-direction: column;
    }

    .main__bottom--right--img {
        position: relative;
        width: 100%;
        display: block;
        position: initial;
    }

    .main__bottom--right img {
        position: initial;
        margin-bottom: -.3rem;
    }

    .main__bottom--right--info {
        float: none;
        margin: 0;
        width: 100%;
        margin-bottom: 10rem;
        display: flex;
        flex-direction: column;
        padding: 7rem;
        margin-bottom: 0;
    }
}

@media(max-width: 505px) {
    .main__bottom--left h3 {
        font-size: 2rem;
        max-width: 95%;
        margin-left: 1rem;
    }

    .main__bottom--left p {
        margin-left: 1rem;
    }

    .main__bottom--right--info {
        padding-left: 5rem;
    }
}


/*-- TESTIMONIALS/CARDS --*/

@media(max-width: 1150px) {
    .card {
        width: 30rem;
    }
}

@media(max-width: 1000px) {
    .cards__container {
        flex-direction: column;
    }

    .card {
        margin: 2rem 0;
        width: 70rem;
    }

    .card p {
        margin-top: 5rem;
    }

    .card:hover {
        transform: rotateY(180deg);
    }

    .mobile {
        transform: rotateY(180deg);
    }

    .no-flip:hover {
        transform: rotateY(0deg);
    }

    .back__footer img {
        margin-top: 3rem;
    }
}

@media(max-width: 725px) {
    .card {
        width: 50rem;
        max-width: 90%;
        margin: 2rem auto;
    }

    .card__container {
        width: 100%;
    }

    .card__wrapper {
        width: 100%;
    }
}


/*-- .ABOUT --*/

@media(max-width: 1265px) {
    .about__list--item {
        width: 25%;
    }
}

@media(max-width: 1075px) {
    .about__list--item {
        width: 35%
    }
}

@media(max-width: 725px) {
    .about__list--item {
        width: 50rem;
        max-width: 95%;
        text-align: center;
    }
}


/*-- .BLOG --*/

@media(max-width: 815px) {
    .firstSlide, .secondSlide, .thirdSlide {
        height: 18rem;
    }
}

@media(max-width: 765px) {
    .blog__item {
        width: 55rem;
        margin: 2rem 0;
        max-width: 90%;
    }

    .blog__list {
        flex-direction: column;
        padding: 0;
    }

    .firstSlide, .secondSlide, .thirdSlide {
        height: 13rem;
    }
}

@media(max-width: 480px) {
    .firstSlide, .secondSlide, .thirdSlide {
        height: 15rem;
    }
}


/*-- .FOOTER --*/

@media(max-width: 660px) {
    .footer__list {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin-left: 5rem;
    }

    .communities__list {
        margin: 0;
    }
}

@media(max-width: 550px) {
    .footer__list {
        margin-left: 2rem;
    }
}



